<!-- <div style="width:300px;" class="add-control">
  <div class="action-close">
    <input type="checkbox" class="checkbox" id="close" name="close" /><label for="close" class="close-btn">Close</label>
    <div class="box"><img style="width:200px; height:90px" src="https://s.udemycdn.com/meta/default-meta-image-v2.png" alt=""></div>
  </div>
</div> -->
